<?xml version="1.0"?>
<config>
    <modules>
        <Titech_Testimonials>
            <version>1.0.0</version>
        </Titech_Testimonials>
    </modules>
	<frontend>
		<routers>
			<testimonials>  
				<use>standard</use>
				<args>
					<module>Titech_Testimonials</module>
					<frontName>testimonials</frontName>
				</args>
			</testimonials>
		</routers>
		<layout>
			<updates>
				<testimonials>
					<file>testimonials.xml</file>
				</testimonials>
			</updates>
		</layout>
	</frontend>
    <admin>
         <routers>
             <testimonials>
                <use>admin</use>
                <args>
                   <module>Titech_Testimonials</module>
                   <frontName>testimonials</frontName>
                </args>
             </testimonials>
        </routers>
    </admin>
	<adminhtml>
		 <layout>
            <updates>
                <testimonials>
                    <file>testimonials.xml</file>
                </testimonials>
            </updates>
        </layout>
    </adminhtml>
    <global>
		<blocks>
            <testimonials>
                <class>Titech_Testimonials_Block</class>
            </testimonials>
        </blocks>
        <helpers>
            <testimonials>
                <class>Titech_Testimonials_Helper</class>
            </testimonials>
        </helpers>
        <models>
			<testimonials>
                <class>Titech_Testimonials_Model</class>
                <resourceModel>testimonial_mysql4</resourceModel>
            </testimonials>
            <testimonial_mysql4>
                <class>Titech_Testimonials_Model_Mysql4</class>
                <entities>
                    <testimonial>
                        <table>titech_testimonial</table>
                    </testimonial>   
                 </entities>   
			 </testimonial_mysql4>
		</models>
        <resources>
			<testimonials_setup>
				<setup>
					<module>Titech_Testimonials</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</testimonials_setup>
			<testimonials_write>
			  <connection>
				<use>core_write</use>
			  </connection>
			</testimonials_write>
			<testimonials_read>
			  <connection>
				<use>core_read</use>
			  </connection>
			</testimonials_read>
		</resources> 
    </global>
</config>
